.view-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(19, 17, 17);
}

.view-card-carousel-section {
  width: 80%; /* Adjust width as needed */
  margin-bottom: 20px;
}

.carousel img {
  border-radius: 10px;
  height: auto; /* Adjust the height as needed */
  object-fit: cover;
}

.view-card-details-section {
  width: 80%; /* Adjust width to match the carousel */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  background-color: #3c3737;
}

.view-card-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.view-card-vendor,
.view-card-location,
.view-card-mileage,
.view-card-price {
  font-size: 16px;
  margin-bottom: 10px;
}

.view-card-rent-now-button {
  padding: 12px 24px;
  background-color: #e11414;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.view-card-rent-now-button:hover {
  background-color: #0056b3;
}
