/** @format */

:root {
  --bgcolor: #1a79cf;
}

* {
  margin: 0;
  padding: 0;
}

.page-header {
  background: linear-gradient(to right, #5f2c82, #49a09d);
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding: 30px 15px;
}
.logo {
  color: white;
  align-self: center;
  margin-left: 1.2rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.nav-bar {
  margin: auto;
}

.nav-bar a {
  color: white;
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

.login-btn {
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  padding: 0.9rem;
  background-color: blue;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.main {
  flex: 1;
}
footer {
  position: relative;
  background-color: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

footer .social-icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}

footer .social-icon {
  margin-bottom: 15px;
}
footer .social-icon li a {
  font-size: 1.3em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transform: 0.5s;
  text-decoration: none;
}
footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transform: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
}
footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.9em;
  opacity: 0.7;
}

footer .wave {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: url("/frontend/public/wave.png");
  background-size: 1000px 50px;
  filter: brightness(0); /* Apply brightness(0) to make the image black */
  opacity: 0.5;
}

footer .wave#wave1 {
  opacity: 0.91;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
.login-btn {
  text-decoration: none;
}
.vehicle-container{
  padding: 50px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .nav-bar {
    display: none;
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #5f2c82, #49a09d);
    text-align: center;
    z-index: 2;
  }
.vehicle-container .card{
  margin: 20px 40px;
}
  .nav-bar.responsive {
    display: block;
  }

  .nav-bar a {
    display: block;
    font-size: 18px;
    padding: 15px 12px;
  }
  .menu-icon {
    display: block;
    z-index: 2;
    margin-left: 25px;
  }
  .login-btn {
    padding: 10px 20px;
  }
  .logo {
    font-size: 1.4rem;
  }
  footer .wave {
    background-size: 500px 50px;
  }
  footer p {
    font-size: 0.7rem;
  }
  footer .menu li a {
    font-size: 0.9rem;
  }
}
